[Unit]
Description=Run Vault Unlocker every 2 minutes

[Timer]
# Wait 1 minute after boot before first run
OnBootSec=1min
# Run every 2 minutes thereafter
OnUnitActiveSec=2min
AccuracySec=10s

[Install]
WantedBy=timers.target
